---
interface Props {
    online: string | number;
    total: string | number;
}

const { online, total } = Astro.props;
import styles from "./components.module.css";
---

<div class={styles.pills}>
    <div class={styles.pill}>
      <i
        class={`${styles.pillIcon} ${styles.online}`}
        class={styles.online}></i>
      <div class={styles.pillText}>
        {online} Online
      </div>
    </div>
    <div class={styles.pill}>
      <i
        class={`${styles.pillIcon} ${styles.total}`}
        class={styles.online}></i>
      <div class={styles.pillText}>{total} Members</div>
    </div>
  </div>